<div class="emp-details-popup">
    <div class="emp-details-header">
        <span class="emp-details-close" (click)="closePopup()"> Close</span>
        <img src="../../assets/images/2.jpg" />
    </div>
    <div class="emp-details-row">
        <span class="left">Name</span>
        <span class="right">{{details.name}}</span>
    </div>
    <div class="emp-details-row">
        <span class="left">Gender</span>
        <span class="right">{{details.gender}}</span>
    </div>
    <div class="emp-details-row">
        <span class="left">Role</span>
        <span class="right">{{details.role}}</span>
    </div>
    <div class="emp-details-row">
        <span class="left">Work</span>
        <span class="right">{{details.work}}</span>
    </div>
    <!--<div class="emp-details-row">
        <span class="left">Hobbies</span>
        <span class="right">{{details.hobbis}}</span>
    </div> -->
</div>